#curricular{
    float: left;
    opacity: 1;
    overflow: hidden;
    height: 68px;
    width: 450px;
    font-size: 40px;
}
#curricular:after{
    float: left;
    opacity: 1;
 
}
#curricular:hover{
    float: left;
    opacity: 1;
    height: 310px;
    width: 100%;
}
#curricular_logo{
    margin-top: 5px;
    height:56px;
    margin-left: 10px;
    opacity: 1;
    z-index: 100;
    float: left;
    cursor: pointer;
}

#curricular_label{
    float: left;
    margin-left: 10px;
    font-family: 'Play', sans-serif;
    padding-top: 5px;
    font-size: 50px;
}
#curricular_logo:before{
    height:64px;
    margin-left: 10px;
    opacity: 1;
    z-index: 100;
}
#curricular_menu{
    width: calc( 100% - 10px );
    height: 115px;
    padding: 10px;
    padding-top:80px;
}

.black{ 
    color:black;
}

#menu_button{
    cursor: pointer;
    font-size: 20px;
    font-family: arial;
    padding: 8px;
    padding-bottom: 6px;
    width: 60px;
    border-radius: 10px;
    float: left;
    margin-left: 25px;
    margin-top: 18px;
}

.curricular_menu_link{

    text-decoration: none;
}
.curricular_menu_link:hover{
color: black;
}

.menu_row{
    width: 100%;
    height: 110px;
}

.curricular_dir_button{
    padding-top:20px;
    margin-right: 10px;
    margin-bottom:10px;
    border-radius: 5px;
    width: 100px;
    height: 80px;

    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.curricular_dir_icon{
    width: 32px;
    margin-top: 10px;
}

.float_right{
    float: right;
}
.float_left{
    float: left;
}

.curricular_dir_button:hover{


   

}