
#bows_mainlabel{
    font-family: 'Play', sans-serif;
    font-size: 40px;
    color: black;
}

#bows_sublabel{
    color: black;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bows_image{
    width: 100px;
    font-size: 100px;
}

.bows_panel{
    padding: 20px;
    border-radius: 20px;
}

#bows_flyer{
    width: 600px;
    font-family: 'Play', sans-serif;
    margin:auto;
    font-size: 20px;
    margin-top: 50px;
    height: 100%;
    text-align: left;
   }
