.curriculum_panel{
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.curriculum_row{
    height: 160px;
    border-bottom: solid 1px #bbb;
}

.curriculum_row_item{
    float: left;
    margin-top: 30px;
    width: 17%;
    margin-right: 20px;
    text-align: center;
}

.curriculum_row_icon{
    cursor: pointer;
    margin-top: 10px;
    width: 50px;
    margin: auto;
}

.curriculum_row_value{
color: gray;
    margin-top: 10px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}

.curriculum_row_label{
    float: left;
    color: white;
    margin-top: 65px;
    font-size: 25px;
    width: 100px;
    text-align: right;
    font-style: italic;
    margin-right: 50px;
}