


#Avatar_mainlabel{
    color: white;
    font-size: 40px;
    margin-left: 71px;
    margin-bottom: 30px;
}

.Avatar_row{
    margin-top: 5px;
    width: 100%;
}

.Avatar_label{
    color: white;
    font-size: 30px;
    margin-left: 20px;
    float: left;
}

.Avatar_panel{
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

.Avatar_names{
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 20px;
}

.avatar_left_col{
    width: calc( 100% - 550px );
    float: left;
    height: 1000px;
}

.Avatar_face{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-left: 130px;
    cursor: pointer;
}

#avatar_image{
   width: 180px;
   margin-left:-17px;
}

#avatar_flyer{
    width: 250px;
    margin:auto;
    margin-top: 0px;
    height: 100%;
    text-align: center;
   }

#Avatar_button{
    cursor: pointer;
    margin:auto;
    margin-bottom: 100px;
    padding: 20px;
    font-size: 84px;
    color: white;
    background:#0788ae;
    border-radius:15px;
    font-weight: bold;
    margin-top: 100px;

    padding-right: 20px;

}

.Avatar_signature{
    font-style:italic;
    color: white;
    font-size: 25px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.cardpanel{
    float: right;
    margin-right: 40px;
    margin-bottom: 30px;
}

#Avatar_signature{
    margin-bottom: 20px;
}

#avatar_button:hover{
    border-radius:15px;
    background: white;
    color:rgb(5, 124, 21);
}

.clear{clear:both;}
